body,
html {
  margin: 0;
  min-height: 100%;
  overflow-y: visible;
  overflow-x: hidden;
  position: relative;
  font-family: 'Raleway', sans-serif !important;
}
/* page scroll bar section */
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgb(250, 172, 100);
}
body::-webkit-scrollbar {
  width: 1em;
  background-color: rgb(250, 172, 100);
}
body::-webkit-scrollbar-thumb {
  background-color: #ff2b2b;
  outline: 1px solid slategrey;
  border-radius: 20px;
}
/* ---------------- */
@media only screen and (max-width: 320px) {
  html {
    min-width: 100%;
    max-width: 100%;
  }
}
#bg-image {
  background: url('../images/vector5-01.svg') center center;
  opacity: 0.85;
  height: 100%;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  scroll-behavior: none;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-repeat: no-repeat;
  position: fixed;
}
/* navbar and intro section */
@media only screen and (max-width: 375px) {
  .intro {
    font-size: 1.5rem !important;
  }
}
.hyperlinks:link {
  font-size: 1.5rem;
  background-color: aliceblue;
}

#invis {
  background: #ffa67a;
}
#top {
  margin-top: 5%;
}
.intro {
  font-size: 2rem;
  color: black;
  font-weight: bold;
}
.about-me {
  bottom: 10px;
}
#name {
  font-size: 20pt;
}
#linkedincard {
  background-color: transparent;
  border: none;
  box-shadow: none;
}
/* --------------------------- */

/* section for cards  */
.bio {
  font-size: 1.4rem;
}
@media only screen and (max-width: 375px) {
  .bio {
    font-size: 1.2rem !important;
  }
}
.colored {
  font-size: 5rem;
}
@media only screen and (max-width: 375px) {
  .colored {
    font-size: 4rem !important;
  }
}
.tech {
  display: inline-grid;
  padding-left: 15px;
  padding-right: 15px;
}
.tech-title {
  text-align: center;
}
.box {
  box-shadow: none !important;
}
/* --------------------- */

/* section for projects and scrollbox */
.buttons-next {
  float: right;
  font-size: 2rem;
  padding-top: 80%;
  color: #ff2b2b;
}
.buttons-previous {
  float: left;
  font-size: 2rem;
  padding-top: 80%;
  color: #ff2b2b;
}

.scrolling-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
}
#filler {
  padding-left: 1%;
}

@media only screen and (max-width: 600px) {
  .scrollbox {
    min-width: 90%;
  }
}
@media only screen and (max-width: 2000px) {
  .scrollbox {
    max-width: 30%;
  }
}
@media only screen and (max-width: 1000px) {
  .scrollbox {
    max-width: 50%;
  }
}
.scrollbox {
  flex: 0 0 auto;
  margin-right: 5%;
  margin-left: 5%;
  padding: .5rem 0.25rem 0rem 0.25rem !important;
  overflow-x: hidden;
  box-shadow: 3px 3px 3px #00000085;
}
.scrolling-wrapper::-webkit-scrollbar {
  display: none;
  /* this only works in chrome, need to accomadate edge and mozilla */
  right: 50%;
}
.card-img {
  max-width: 100%;
}
.project-links {
  font-size: 12pt;
  font-weight: bold;
}
.project-icon {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 2rem !important;
}
.first {
  margin-left: 5%;
}
.last {
  margin-right: 5%;
}
.card-text {
  padding: .5rem;
}
.project-title {
  text-align: center;
}
.card {
  box-shadow: none !important;
  /* display: inline-grid !important; */
  /* max-width: 80% !important; */
}

/* -------------------------------- */

/* contact and page end */
.contact-icon {
  font-size: 2rem !important;
  color: #6a7bfc;
  padding-left: 20px;
  padding-right: 20px;
}
.footer {
  background: black !important;
  position: relative;
  height: 200px;
}
/* ------------------- */

/* reused style classes */
.title {
  color: black !important;
  word-break: none;
}
.icons {
  font-size: 0.5rem;
}
.vertical-text {
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: black;
  font-size: 40px;
}
.links {
  font-size: 15pt;
}
.white-text {
  color: whitesmoke !important;
}
.text-shadow {
  text-shadow: 1px 1px 1px #3a2016;
}
.hide {
  visibility: hidden;
}
/* -------------- */
