/* purgecss start ignore */
@tailwind base;
@tailwind components;
#SideMenu{
    /* transform: translateX(100%); */
    transform: translateX(100%);
    transition: transform .5s;

}
#SideMenu.true{
    transform: translateX(0%);
    transition: transform .5s

}
body{
    overflow-x: hidden;
}
.gradient {
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
}
.low-light-red{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, #F56565 50%);
    padding-right: 15px;
}

/* purgecss end ignore */
@tailwind utilities;
